$floating-button-size: 64px;
.floating-button {
	border-radius: 50%;
	width: $floating-button-size;
	height: $floating-button-size;
	position: fixed;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(72, 198, 150);
	color: #fff;
	bottom: 24px;
	right: 24px;
}

footer p {
	opacity: 0.4;
}
