:root {
	body {
		background-color: #1d2023;
		color: #fff;
		#root {
			min-height: 100vh;
			display: flex;

			main {
				min-height: 80vh;
				background: #212529;
				border-radius: 4px;
			}
		}
	}
}
