:root {
	body {
		background-color: #1d2023;
		color: #fff;
		#root {
			min-height: 100vh;
			display: flex;

			main {
				margin: 36px 0;

				.content-wrapper {
					min-height: 50vh;
					background: #212529;
				}
			}
		}
	}
}
